## Use this notebook to clean demographic data

In [1]:
import pandas as pd
import numpy as np

In [35]:
cen = pd.read_csv("cc-est2021-alldata-53.csv")
income = pd.read_csv("median_household_income_estimates.csv")

Source URL: https://www.ofm.wa.gov/washington-data-research/economy-and-labor-force/median-household-income-estimates


- Money income, as defined by the Bureau of the Census, includes wage or salary income, self-employment income, interest, dividend, rental income, social security or other public assistance income, retirement, and disability income; etc.

In [18]:
income.rename(columns={'Unnamed: 0':'County','Unnamed: 1':'medinc19','Unnamed: 2':'estinc2020','Unnamed: 3':'estinc2021'}, inplace=True)

income.drop(index=income.index[:4],inplace=True)
income.drop(income.iloc[:, 4:37], axis=1, inplace = True)

In [22]:
income[['medinc19','estinc2020','estinc2021']] = income[['medinc19','estinc2020','estinc2021']].replace(',', '', regex=True)

In [24]:
income.to_csv("med_income_washco.csv")

In [40]:
cen['CTYNAME'] = cen['CTYNAME'].replace(r'(\s*)County', '', regex=True)

In [48]:
# counties we want

counties = ['Franklin', 'Pierce', 'Grant', 'Yakima', 'King', 'Snohomish', 'Spokane', 'Mason']

target = cen.loc[cen['CTYNAME'].isin(counties)]

In [49]:
target

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
570,50,53,21,Washington,Franklin,1,0,96749,49866,46883,...,25139,24123,583,562,885,874,279,275,190,164
571,50,53,21,Washington,Franklin,1,1,8188,4187,4001,...,2485,2333,78,73,174,183,46,36,33,20
572,50,53,21,Washington,Franklin,1,2,8686,4266,4420,...,2536,2658,97,67,161,154,34,54,24,17
573,50,53,21,Washington,Franklin,1,3,9132,4600,4532,...,2964,2978,63,58,60,86,30,37,19,24
574,50,53,21,Washington,Franklin,1,4,8002,4031,3971,...,2540,2661,48,100,48,58,26,22,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,50,53,77,Washington,Yakima,3,14,11750,5601,6149,...,1378,1304,27,15,83,59,14,23,2,5
2219,50,53,77,Washington,Yakima,3,15,10002,4807,5195,...,1045,935,10,14,40,33,13,11,2,3
2220,50,53,77,Washington,Yakima,3,16,6498,3105,3393,...,573,539,9,9,19,23,6,7,0,0
2221,50,53,77,Washington,Yakima,3,17,4135,1848,2287,...,349,398,1,3,18,5,1,4,0,5
2222,50,53,77,Washington,Yakima,3,18,3808,1444,2364,...,260,334,2,6,6,9,2,11,0,0