In [199]:
import pandas as pd
import numpy as np

df = pd.read_csv("Data_Washington Fatal Crash Survey.csv")
zips = pd.read_csv("US%20Zip%20Codes%20from%202013%20Government%20Data.txt")

/var/folders/j2/8gptfrvd0_dfl_yxfcck_hh40000gn/T/ipykernel_91312/581898200.py:4: DtypeWarning: Columns (21,22,23,301,303) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data_Washington Fatal Crash Survey.csv")

In [27]:
## arr_tm, hosp_tm, fhevent, CoMP, IntCoMP

# IntCoMP (Intersecting County Road Milepost (when applicable) from CRAB.) 97% Nans
# CoMP (County Road Milepost from CRAB.) 90% Nans
# hosp_tm (Time EMS arrived at Hospital) 82% Nans 
# arr_tm (Time EMS arrived at scene) 74% Nans 
# 'CoRoadName', 'IntCoRoadName'
# drop crf1 through crf3 --- crash related factors almost all nan
# 'helmet','helmetmisuse' not relevent
# 'methdrug', 'drugsts', drugtst1-12, drugres1-12, 'alcres', 'alcsts', 'alctst'
# ejectpath alcmeth

In [ ]:
# long : x
# lat : y

# driver zip code : dzip

In [215]:
zips = zips[zips["LAT"].between(44, 79)]

In [217]:
# find nearest zip code for crash lat long 

from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):

    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

def find_nearest(lat, long):
    distances = zips.apply(
        lambda row: dist(lat, long, row['LAT'], row['LNG']), 
        axis=1)
    return zips.loc[distances.idxmin(), 'ZIP']

In [219]:
df['czip'] = df.apply(
    lambda row: find_nearest(row['y'], row['x']), 
    axis=1)

In [225]:
df.to_csv("crashdata.csv")

In [227]:
df["crash_dt"]= pd.to_datetime(df["crash_dt"])

In [236]:
df

,year,case,par,repjur,crash_dt,crash_tm,accday,accmon,holiday,county,...,lab,isedtcase,crf1,crf2,crf3,CoRoadName,CoMP,IntCoRoadName,IntCoMP,czip
0,2017,1,E628946,2.0,2017-01-01,2:12,1,1,1.0,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98201
1,2017,2,E627989,26.0,2017-01-02,17:14,2,1,1.0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98359
2,2017,4,3747633,263.0,2017-01-01,18:47,1,1,1.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98103
3,2017,5,E628691,4.0,2017-01-01,3:50,1,1,1.0,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99224
4,2017,6,3746306,263.0,2017-01-05,9:53,5,1,0.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,2021,636,Incid08,334.0,2021-08-08,9:38,8,8,NaN,47,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,99155
4128,2021,638,Incid09,334.0,2021-09-05,1:36,5,9,NaN,19,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,99747
4129,2021,639,EB48605,263.0,2021-04-21,17:32,21,4,NaN,33,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,98144
4130,2021,639,EB48605,263.0,2021-04-21,17:32,21,4,NaN,33,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,98144
4131,2021,640,Inciden,42.0,2021-10-15,14:55,15,10,NaN,67,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,98502

In [248]:
df = df.loc[:, df.isnull().mean() < .9]

In [249]:
df

,year,case,par,repjur,crash_dt,crash_tm,accday,accmon,holiday,county,...,prevsusoth,adspresent,adsengaged,adslevel,race1,helmet,helmetmisuse,isedtcase,crf1,czip
0,2017,1,E628946,2.0,2017-01-01,2:12,1,1,1.0,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98201
1,2017,2,E627989,26.0,2017-01-02,17:14,2,1,1.0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98359
2,2017,4,3747633,263.0,2017-01-01,18:47,1,1,1.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98103
3,2017,5,E628691,4.0,2017-01-01,3:50,1,1,1.0,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99224
4,2017,6,3746306,263.0,2017-01-05,9:53,5,1,0.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,2021,636,Incid08,334.0,2021-08-08,9:38,8,8,NaN,47,...,0.0,98.0,98.0,98.0,0.0,20.0,NaN,0.0,0.0,99155
4128,2021,638,Incid09,334.0,2021-09-05,1:36,5,9,NaN,19,...,0.0,0.0,0.0,0.0,3.0,20.0,NaN,0.0,0.0,99747
4129,2021,639,EB48605,263.0,2021-04-21,17:32,21,4,NaN,33,...,0.0,98.0,98.0,98.0,1.0,20.0,NaN,0.0,0.0,98144
4130,2021,639,EB48605,263.0,2021-04-21,17:32,21,4,NaN,33,...,0.0,98.0,98.0,98.0,0.0,20.0,NaN,0.0,0.0,98144
4131,2021,640,Inciden,42.0,2021-10-15,14:55,15,10,NaN,67,...,0.0,98.0,98.0,98.0,1.0,20.0,NaN,0.0,0.0,98502